---
title: Brightcove Live Documentation
parent: null
layout: landing_page
---

<!-- main content -->
<div class="page-content">
  <div class="container">
    <div class="docs-overview py-5">
      <div class="row justify-content-center">


        {% for section in site.data.navigation offset:1 %}
        <div class="col-12 col-lg-4 py-3">
          <div class="card-hover card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="span-icon card-icon-holder icon-theme me-2">
                  <i class="{{ section.icon }}"></i>
                </span>
                <span class="card-title-text">{{ section.name }}</span>
              </h5>
              <div class="card-text">
                {{ section.description }}
              </div>
              <a class="card-link-mask" href="{{ section.url }}"></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- <div class="justify-content-center">
  
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-live-1-tab" data-bs-toggle="tab" data-bs-target="#nav-live-1" type="button" role="tab" aria-controls="nav-live-1" aria-selected="true"><h5>Live 1.0</h5></button>
      <button class="nav-link" id="nav-live-2-tab" data-bs-toggle="tab" data-bs-target="#nav-live-2" type="button" role="tab" aria-controls="nav-live-2" aria-selected="false"><h5>Live 2.0</h5></button>
    </div>
  </nav>
  
  <div class="tab-content" id="nav-tabContent">
   
    <div class="tab-pane fade show active" id="nav-live-1" role="tabpanel" aria-labelledby="nav-live-1-tab" tabindex="0">
      
      <div class="container">
        <div class="row">
        <div class="col-12 col-lg-4 py-3">
          <div class="card-hover card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="span-icon card-icon-holder icon-theme me-2">
                  <i class="fa-solid fa-map-pin"></i>
                </span>
                <span class="card-title-text">Getting Started</span>
              </h5>
              <div class="card-text">
                Guides to help you get started with Live streaming.
              </div>
              <a class="card-link-mask" href="/get-started/index.html"></a>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-lg-4 py-3">
          <div class="card-hover card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="span-icon card-icon-holder icon-theme me-2">
                  <i class="fa-solid fa-circle-info"></i>
                </span>
                <span class="card-title-text">General Information</span>
              </h5>
              <div class="card-text">
                General information for working with the Live module and Live API.
              </div>
              <a class="card-link-mask" href="/general/index.html"></a>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-lg-4 py-3">
          <div class="card-hover card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="span-icon card-icon-holder icon-theme me-2">
                  <i class="fa-solid fa-satellite-dish"></i>
                </span>
                <span class="card-title-text">Using the Live Module</span>
              </h5>
              <div class="card-text">
                Learn how to broadcast a live event using the Live module.
              </div>
              <a class="card-link-mask" href="/live-module/index.html"></a>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-lg-4 py-3">
          <div class="card-hover card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="span-icon card-icon-holder icon-theme me-2">
                  <i class="fa-solid fa-video"></i>
                </span>
                <span class="card-title-text">Web Conferencing</span>
              </h5>
              <div class="card-text">
                This section contains topics that apply to integrating Brightcove Live with different web conferencing platforms.
              </div>
              <a class="card-link-mask" href="/web-conferencing/index.html"></a>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-lg-4 py-3">
          <div class="card-hover card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="span-icon card-icon-holder icon-theme me-2">
                  <i class="fa-solid fa-satellite-dish"></i>
                </span>
                <span class="card-title-text">Working with the Live API</span>
              </h5>
              <div class="card-text">
                The Live API allows you to create and manage live steams.
              </div>
              <a class="card-link-mask" href="https://apis.support.brightcove.com/live-api/index.html"></a>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-lg-4 py-3">
          <div class="card-hover card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="span-icon card-icon-holder icon-theme me-2">
                  <i class="fa-solid fa-gear"></i>
                </span>
                <span class="card-title-text">Administering Accounts</span>
              </h5>
              <div class="card-text">
                Administering your Live account.
              </div>
              <a class="card-link-mask" href="/admin/index.html"></a>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-lg-4 py-3">
          <div class="card-hover card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="span-icon card-icon-holder icon-theme me-2">
                  <i class="fa-solid fa-book"></i>
                </span>
                <span class="card-title-text">Release Notes</span>
              </h5>
              <div class="card-text">
                Learn about new features.
              </div>
              <a class="card-link-mask" href="/release-notes/index.html"></a>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-lg-4 py-3">
          <div class="card-hover card shadow-sm">
            <div class="card-body">
              <h5 class="card-title mb-3">
                <span class="span-icon card-icon-holder icon-theme me-2">
                  <i class="fa-regular fa-comments"></i>
                </span>
                <span class="card-title-text">Support</span>
              </h5>
              <div class="card-text">
                Working with Brightcove Support.
              </div>
              <a class="card-link-mask" href="/support/index.html"></a>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
    
    <div class="tab-pane fade" id="nav-live-2" role="tabpanel" aria-labelledby="nav-live-2-tab" tabindex="0">
      <div class="container">
        <div class="row">

          <div class="row">
            <div class="col-12 col-lg-4 py-3">
              <div class="card-hover card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-3">
                    <span class="span-icon card-icon-holder icon-theme me-2">
                      <i class="fa-solid fa-map-pin"></i>
                    </span>
                    <span class="card-title-text">Getting Started</span>
                  </h5>
                  <div class="card-text">
                    Guides to help you get started with Live streaming.
                  </div>
                  <a class="card-link-mask" href="/get-started/index.html"></a>
                </div>
              </div>
            </div>
            
            <div class="col-12 col-lg-4 py-3">
              <div class="card-hover card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-3">
                    <span class="span-icon card-icon-holder icon-theme me-2">
                      <i class="fa-solid fa-circle-info"></i>
                    </span>
                    <span class="card-title-text">General Information</span>
                  </h5>
                  <div class="card-text">
                    General information for working with the Live module and Live API.
                  </div>
                  <a class="card-link-mask" href="/general/index.html"></a>
                </div>
              </div>
            </div>
            
            <div class="col-12 col-lg-4 py-3">
              <div class="card-hover card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-3">
                    <span class="span-icon card-icon-holder icon-theme me-2">
                      <i class="fa-solid fa-satellite-dish"></i>
                    </span>
                    <span class="card-title-text">Using the Live Module</span>
                  </h5>
                  <div class="card-text">
                    Learn how to broadcast a live event using the Live module.
                  </div>
                  <a class="card-link-mask" href="/live-module/index.html"></a>
                </div>
              </div>
            </div>
            
            <div class="col-12 col-lg-4 py-3">
              <div class="card-hover card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-3">
                    <span class="span-icon card-icon-holder icon-theme me-2">
                      <i class="fa-solid fa-video"></i>
                    </span>
                    <span class="card-title-text">Web Conferencing</span>
                  </h5>
                  <div class="card-text">
                    This section contains topics that apply to integrating Brightcove Live with different web conferencing platforms.
                  </div>
                  <a class="card-link-mask" href="/web-conferencing/index.html"></a>
                </div>
              </div>
            </div>
            
            <div class="col-12 col-lg-4 py-3">
              <div class="card-hover card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-3">
                    <span class="span-icon card-icon-holder icon-theme me-2">
                      <i class="fa-solid fa-satellite-dish"></i>
                    </span>
                    <span class="card-title-text">Working with the Live API</span>
                  </h5>
                  <div class="card-text">
                    The Live API allows you to create and manage live steams.
                  </div>
                  <a class="card-link-mask" href="https://apis.support.brightcove.com/live-api/index.html"></a>
                </div>
              </div>
            </div>
            
            <div class="col-12 col-lg-4 py-3">
              <div class="card-hover card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-3">
                    <span class="span-icon card-icon-holder icon-theme me-2">
                      <i class="fa-solid fa-gear"></i>
                    </span>
                    <span class="card-title-text">Administering Accounts</span>
                  </h5>
                  <div class="card-text">
                    Administering your Live account.
                  </div>
                  <a class="card-link-mask" href="/admin/index.html"></a>
                </div>
              </div>
            </div>
            
            <div class="col-12 col-lg-4 py-3">
              <div class="card-hover card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-3">
                    <span class="span-icon card-icon-holder icon-theme me-2">
                      <i class="fa-solid fa-book"></i>
                    </span>
                    <span class="card-title-text">Release Notes</span>
                  </h5>
                  <div class="card-text">
                    Learn about new features.
                  </div>
                  <a class="card-link-mask" href="/release-notes/index.html"></a>
                </div>
              </div>
            </div>
            
            <div class="col-12 col-lg-4 py-3">
              <div class="card-hover card shadow-sm">
                <div class="card-body">
                  <h5 class="card-title mb-3">
                    <span class="span-icon card-icon-holder icon-theme me-2">
                      <i class="fa-regular fa-comments"></i>
                    </span>
                    <span class="card-title-text">Support</span>
                  </h5>
                  <div class="card-text">
                    Working with Brightcove Support.
                  </div>
                  <a class="card-link-mask" href="/support/index.html"></a>
                </div>
              </div>
            </div>
  
        </div>
      </div>
    </div>
    
  </div> -->


<!-- <style translate="no">
  h1 {
    margin-bottom: 0;
}
</style>

<article class="landing-page-wrapper">
  <section class="landing-page-header" id="landing_page_header">
    <h1 style="font-weight: bold;">{{ site.title }}</h1>
    <table width="100%" border="0">
  <tbody>
    <tr>
      <td width="30%">
      <div data-experience="5be4439bb5cd1c00106dc3f5" data-video-ids="6045789900001">&nbsp;</div>
      <script src="https://players.brightcove.net/20318290001/experience_5be4439bb5cd1c00106dc3f5/live.js"></script></td>
      <td width="70%">
                <br/>
      <p>The Live module is used to broadcast live events to both desktop and mobile devices. After entering your event information into the Live module, you will be provided with a set of encoder settings that you plug into your on-site encoder. All transcoding is done in the cloud so you don't need a hardware based transcoder.</p>

      <p>For more complex use cases and integrations, you can also use the Live API.</p>
      </td>
    </tr>
  </tbody>
</table>
  </section>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %}
    <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">

      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul>
          {% for doc in section.docs  %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">View all...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article> -->